hackathon-bemobi.code-workspace
omni-solve-backend/web-scrapper-bypass/Arquivos/m4u_log.txt
omni-solve-backend/web-scrapper-bypass/Arquivos/m4u_reclamacoes.csv
omni-solve-backend/web-scrapper-bypass/Database/coleta.db
