/* page.module.css */

.container {
  display: flex;
  width: 100vw;
  background-color: var(--cor-fundo);
}

.content {
  margin: 0px 20px;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: var(--Gray-900, #222834);
  font-size: 32px;
  font-weight: 700;
  line-height: 64px; /* 100% */
  padding-bottom: 36px;
  padding: 10px 20px; /* Adiciona padding ao redor do texto */
  background: #f5f5f5;
}

.details {
  display: flex;
  width: 88.5vw;
  max-width: 1900px;
  padding: var(--spacing-150, 12px) 12px;
  align-items: center;
  gap: var(--spacing-150, 12px);
  border: var(--sds-size-stroke-border) solid black;
  border-radius: var(--Radius-200);
  background: #fff;
}

.details_box {
  display: flex;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: var(--Radius-200);
  border: var(--sds-size-stroke-border) solid var(--Border-Default-Default);
}

.details_ico {
  display: flex;
  padding: var(--spacing-150, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #e9edf5;
}

.detailContainer {
  display: grid;
  padding: 0px;
}
.detailText {
  align-self: stretch;
  color: var(--text-base-primary, #1a1a1a);
  font-size: var(--font-size-2xl, 24px);
  font-weight: 600;
  line-height: var(--font-line-height-2xl, 32px); /* 133.333% */
  letter-spacing: var(--font-letter-spacing-wide, 0.5px);
}

.detailSubText {
  color: var(--text-base-secundary, #4d4d4d);
  font-size: var(--font-size-md, 16px);
  font-weight: 500;
  line-height: var(--font-line-height-md, 24px); /* 150% */
  letter-spacing: var(--font-letter-spacing-normal, 0px);
}

.table {
  display: flex;
  flex-direction: column;
  width: 90vw;
  border: var(--sds-size-stroke-border) solid var(--black-100, #000);
  background: #fff;
  margin-top: 48px;
  border-radius: var(--Radius-200);
  max-width: 1920px;
}

.tableHeader {
  display: flex;
  flex-direction: column;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.thBold {
  color: var(--text-base-primary, #1a1a1a);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--font-line-height-md, 24px); /* 120% */
  letter-spacing: var(--font-letter-spacing-wide, 0.5px);
}

.th {
  color: var(--text-base-primary, #1a1a1a);
  text-align: right;
  font-size: var(--font-size-md, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--font-line-height-md, 24px); /* 150% */
  letter-spacing: var(--font-letter-spacing-normal, 0px);
}

.rowCont {
  display: flex;
  width: fit-content;
  height: 36px;
  padding: var(--font-letter-spacing-normal, 0px) var(--spacing-150, 12px);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.tableHeader .tableRow {
  display: flex;
  align-items: center;
  gap: 10vw;
  padding: 6px 0px;
  margin-right: 6vw;
  border-bottom: 1px solid #d3d3d3; /* Adiciona uma linha cinza entre as linhas */
}

.tableCell {
  flex: 1;
  padding: 12px;
  
}

.categoryCell {
  display: flex;
  min-width: 33vw;
  align-items: center;
  padding: 0px 50px 0 8px;
  border-radius: 4px;
  gap: 10px;
  flex: 2; /* Torna a coluna de categoria maior */
}

/* Estilo das células da tabela */
.td:first-child {
  width: 50%; /* Define um tamanho maior para a primeira coluna */
  padding: 12px;
}

.td:not(:first-child) {
  padding: 12px;
}

/* Estilo para linhas pares */
.even-row {
  background-color: #894949; /* Cor das linhas pares */
}

/* Estilo da urgência */
.urgency-alta {
  color: red; /* Alta */
  background: #fdd3d0;
  padding: 2px 4px; /* Adiciona um pouco de padding ao redor do texto */
  border-radius: 4px; /* Adiciona bordas arredondadas */
  margin-right: 8px; /* Adiciona espaço à direita */
}

.urgency-moderada {
  color: orange; /* Moderada */
  background-color: #fff1c2;
  padding: 2px 4px; /* Adiciona um pouco de padding ao redor do texto */
  border-radius: 4px;
  margin-right: 8px; /* Adiciona espaço à direita */
}

.urgency-baixa {
  display: inline;
  color: green; /* Baixa */
  background-color: #cff7d3;
  padding: 2px 4px; /* Adiciona um pouco de padding ao redor do texto */
  border-radius: 4px;
}

.operationCell {
  display: inline-flex;
  padding: 0px 8px;
  background: var(--Gray-50, #e9edf5);
  border-radius: 4px;
}

.operationCellText {
  color: var(--Gray-700, #464f60);
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.48px;
}

.requestsCell {
  display: inline-flex;
  padding: 0px 8px;
  background: var(--Gray-50, #e9edf5);
  border-radius: 4px;
  gap: 2px;
}

.requestsCellText {
  color: var(--Gray-700, #464f60);
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.48px;
}

/* Estilo normal do SVG */
.categoryCell img {
  filter: grayscale(100%); /* Torna o SVG cinza */
  transition: filter 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilo normal do texto */
.categoryCell div {
  color: var(--sds-color-text-default-default); /* Torna o texto cinza */
  transition: color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilo de hover para o SVG e o texto */
.tableCell:hover img {
  filter: none; /* Remove o filtro cinza, tornando o SVG roxo */
  transform: scale(1.1); /* Aumenta o tamanho do SVG */
}

.tableCell:hover .categoryCell {
  color: #5700e4; /* Torna o texto roxo */
  background-color: #30343a07;
  transform: translateX(5px); /* Move o texto ligeiramente para a direita */
}

.urgencyCell {
  max-width: fit-content;
}



.tableBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Define 4 colunas com larguras iguais */
  gap: 16px; /* Espaçamento entre linhas e colunas */
}

.tableRow {
  display: contents; /* Garante que o layout se estenda a todas as rows sem criar divs extras */
}

.tableCell {
  padding: 12px 16px; /* Adiciona padding nas células */
}

.tableBody .tableCell  {
  border-bottom: 1px solid #ddd; /* Linha divisória entre as células */
}

.categoryCell,
.operationCell,
.requestsCell,
.urgencyCell {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens */
  max-width: fit-content;
  
}

.coluna1 { grid-column: 1; }
.coluna2 { grid-column: 2; }
.coluna3 { grid-column: 3; }
.coluna4 { grid-column: 4; }


