/* page.module.css */


.container {
  display: flex;
  height: 10vh;
  background-color: var(--cor-fundo);
}

.content {
  margin-left: 20px;
  flex: 1;
  padding: 20px;
  border-radius: 8px;
}

.title {
  color: var(--Gray-900, #222834);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
}

.details {
  display: flex;
  width: 100%;
  max-width: 1920px;
  padding: var(--spacing-150, 12px) 0px;
  align-items: center;
  gap: var(--spacing-150, 12px);
  border: var(--sds-size-stroke-border) solid black;
  border-radius: var(--Radius-200);
  background: #fff;
}

.details_box {
  display: flex;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
  align-items: center;
  gap: 12px;
  flex: 1 0 0;

  border-radius: var(--Radius-200);
  border: var(--sds-size-stroke-border) solid var(--Border-Default-Default);
}

.details_ico {
  display: flex;
  padding: var(--spacing-150, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--cor-fundo);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  color: #ffffff;
  padding: 10px;
  text-align: left;
}
.tr {
  display: flex;
  justify-content: space-between;
  padding: 12px var(--font-letter-spacing-normal, 1px);
  align-items: center;
}

/* Estilo das células da tabela */
.td:not(:first-child) {
  padding: 12px var(--Space-200, 8px);
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* Estilo para linhas pares */
.even-row {
  background-color: #f2f2f2; /* Cor das linhas pares */
}

/* Estilo da urgência */
.urgency-high {
  color: red; /* Alta */
}

.urgency-medium {
  color: orange; /* Moderada */
}

.urgency-low {
  color: green; /* Baixa */
}

.operationCell {
  display: inline-flex;
  padding: 4px var(--Space-200, 8px);
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  background: var(--Gray-50, #e9edf5);
}
