:root {
  --cor-principal: #062efe;
  --cor-secundaria: #020f5b;
  --cor-terciaria: #6924f2;
  --cor-texto: #000;
  --cor-fundo: #305fbc;
  --Radius-200: 8px;
  --sds-size-stroke-border: 4px;
  --Border-Default-Default: #d9d9d9;
  --sds-size-space-400: 100px;
  --sds-size-space-300: 12px;
  --spacing-150: 12px;
  --font-letter-spacing-normal: 0px;
  --sds-size-space-300: 12px;
  --Gray-50: #e9edf5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

h1,
h2,
h3 {
  color: var(--cor-principal);
}