

:root {
  --cor-principal: #062EFE;
  --cor-secundaria: #020F5B; 
  --cor-terciaria: #6924F2; 
  --cor-texto: #000;    
  --cor-fundo: #F0F1FA; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

h1, h2, h3 {
  color: var(--cor-principal);
}
